<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target
      name="logFile"
      xsi:type="File"
      fileName="D:\Client\Websites\Log\TaskQueue.API\current.log"
      archiveFileName="D:\Client\Websites\Log\TaskQueue.API\log.{#}.log"
      archiveEvery="Day"
      archiveAboveSize="5242880"
      archiveDateFormat="yyyyMMdd"
      archiveNumbering="DateAndSequence"
      layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logFile" />
  </rules>
</nlog>